body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #171717;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 img{
    height: 100px;
}

.logo1 p{
    text-decoration: none;
    font-size: 35px;
    font-family: fantasy;
    font-weight: 500;
    padding: 10px 50px;
    color: red;
    font-style: italic;
}

.logo a{
    text-decoration: none;
}

.nav-sd2 ul{
    display: flex;
    justify-content: space-evenly;
}
.nav-sd2 ul>li{
    cursor: pointer;
    /* padding-right: 10px; */
    padding: 10px 30px;
    font-size: 35px;
    /* list-style: none; */
}

.nav-sd2 ul>li{
    list-style: none;
    color: white;
}

.nav-sd2 ul>li:hover{
    border-radius: 10px;
    background-color: black;
    /* color: white; */
    transition: all 0.3s ease-in-out;
    color: red;
}
.content1{
    display: flex;
    justify-content: end;
    background-image: url(images/galaxy\ lion.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    border: 1px solid white;
}
.sub-content1{
    align-self: end;
    color: white;
    font-size: 85px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    padding-right: 50px;
    padding-top: 10px;
    text-shadow: 1px 10px 10px red;
}
#ch{
    font-size: 35px;
}
.sub-content1:hover{
    color: rgb(255, 0, 43);
    text-shadow: 1px 10px 10px cyan;
}

.container2{
    color: white;
    display: flex;
    justify-content: center;
}

.content2{
    display: center;
    justify-content: center;
    align-items: center;
}

.sub-content2{
    text-align: center;
    /* align-items: center; */
    font-size: 45px;
}

#sh{
    text-align: center;
    align-self: flex-end;
    font-size: 25px;
}

.container4{
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 15px;
    font-family: cursive;
}

.container4 >.container3{
    width: 800px;
}

.sub-container1{
    display: flex;
    justify-content: center;
    position: relative;
}

.img1{
    height: 250px;
    border-radius: 15px;
    background-size: cover;
    border: 1px solid transparent;
    width: 200px;
    padding: 5px;
    /* position: absolute; */
}

.img2{
    height: 250px;
    border-radius: 15px;
    width: 195px;
    padding: 5px;
}

.names{
    display: flex;
    justify-content: end;
    color: white;
    font-family: fantasy;
}
.names1{
    display: flex;
    justify-content: start;
    color: white;
    font-family: fantasy;
}

.sub-container2{
    display: flex;
    /* padding-left: 50px; */
}

.sub-content4{
    font-size: 50px;
    background: linear-gradient(45deg, cyan,rgb(212, 25, 212),pink,white);
    -webkit-background-clip: text;
    color: transparent;
    /* padding: 5px 15px; */
}

.give{
    font-family: monospace;
}

.sub-container3{
    display: flex;
    /* margin: 0%; */
    /* justify-content: flex-start; */
}

.sub-content5{
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.eth{
    display: flex;
    flex-wrap: wrap;
    color: rgb(196, 166, 0);
    width: 500px;
}

.container7{
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(35deg, cyan,rgb(187, 52, 187),violet,pink);
    /* background-color: #bfc500; */
    height: 70px;
    padding: 1.3vh;
    border-radius: 10px;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
}

.sub-container4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btn{
    flex-basis: 200px;
    color: cyan;
    background-color: black;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    font-size: 16px;
    height: 75px;
    width: 240px;
}

#gr{
    flex-basis: 350px;
    color: black;
}

p{
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    /* text-align: center; */
    align-self: center;
}

#buy{
    font-size: 30px;
    font-weight: 400;
    font-family: fantasy;
    align-self: center;
    color: #000;
}

#btn:hover{
    color: black;
    background-color: cyan;
}

.container8{
    display: flex;
    /* justify-content: left; */
}

.spcs{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.ec{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sub-container5{
    display: flex;
    align-items: flex-start;
}

.sub-content7{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.move-image{
    position: relative;
    animation: move 5s infinite;
}

@keyframes move{
    0% { left: 0; }
    50% { left: 200px; }
    100% { left: 0; }
}

.container9{
    display: flex;
    justify-content: flex-start;
}

.sub-container6{
    display: flex;
}

.sub-content7{
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.cave{
    position: relative;
    display: flex;
    align-items: left;
    color: white;
    font-weight: 700;
    font-size: 35px;
    padding-right: 100px;
}

.cvp{
    color: white;
    font-family: sans-serif;
}

.abandoned{
    display: flex;
    position: absolute;
    right: 70px;
}